/* Fonts and Body */

@font-face {
    font-family: 'Roboto', Segoe UI, Oxygen, Ubuntu, Cantarell;
    src: url(fonts/Roboto.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto', Segoe UI, Oxygen, Ubuntu, Cantarell;
    src: url(fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 600;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    width: 19%;
    font-family: 'Roboto', Segoe UI, Oxygen;
    font-size: 24px;
    color: #F9FAF8;
}

.no-underline {
    text-decoration: none;
    color: #F9FAF8;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4.57%;
    background-color: #1F2937;
    position: fixed;
    width: 90%;
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

/* Header Nav*/

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav ul li a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    margin: 5px;
}

/* Main */

main {
    margin-top: 60px;
}

/* Main Part */

#mainpart {
    background-color: #1F2937;
    text-align: left;
    margin-top: 90px;
    padding-top: 60px;
    padding-left: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#mainpart .content {
    flex: 1;
}

#mainpart h1 {
    font-family: 'Roboto', Segoe UI, Oxygen;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#mainpart h2 {
    font-family: 'Roboto', Segoe UI, Oxygen;
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
    margin-top: -20px;
}

.submit-button {
    padding: 10px 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    margin-top: 10px;
}

#mainpart .mainimage {
    width: 25%;
    margin-right: 60px;
}

#mainpart .mainimage img {
    max-width: 90%;
    max-height: 500px;
    border-radius: 10px;
    margin-bottom: 100px;
}

/* Quote */

#quote {
    font-family: 'Roboto', Segoe UI, Oxygen;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-container {
    flex: 1;
    padding-right: 20px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
}

.video-container {
    flex: 1;
    max-width: 500px;
    height: 500px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 3.8%;
    font-family: 'Roboto', Segoe UI, Oxygen;
    font-size: 18px;
    text-align: center;
}

/* Back to top */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(2, 2, 2);
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}